@import "tailwindcss";


.background {
      background-image: url('./../public/assets/texture.png');
      filter: brightness(1.2);
      background-color: #8A0635;
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
}

.main {
      min-height: 100vh;
      background: #45171e;
      background: linear-gradient(82deg, rgba(46, 22, 26, 0.991) 30%, rgba(128, 20, 52, 0.974) 80%, rgba(143, 6, 54, 0.796) 92%);
}

.mask {
      mask-image: linear-gradient(black 50%, transparent 100%);
      -webkit-mask-image: linear-gradient(black 50%, transparent 100%);
      mask-size: cover;
      -webkit-mask-size: cover;
}


/* HTML: <div class="loader"></div> */
.loader {
      width: 55px;
      aspect-ratio: 1;
      --g1: conic-gradient(from 90deg at 3px 3px, #0000 90deg, #fff 0);
      --g2: conic-gradient(from -90deg at 22px 22px, #0000 90deg, #fff 0);
      background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
      background-size: 25px 25px;
      background-repeat: no-repeat;
      animation: l7 1.5s infinite;
}

@keyframes l7 {
      0% {
            background-position: 0 0, 0 100%, 100% 100%
      }

      25% {
            background-position: 100% 0, 0 100%, 100% 100%
      }

      50% {
            background-position: 100% 0, 0 0, 100% 100%
      }

      75% {
            background-position: 100% 0, 0 0, 0 100%
      }

      100% {
            background-position: 100% 100%, 0 0, 0 100%
      }
}